@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --btn-background: 217.2 91.2% 59.8%;
  --btn-background-hover: 217.2 91.2% 49.8%;
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  min-height: 100vh;
} 